In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/zippedData/imdb.title.akas.csv.gz')

In [3]:
df

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [4]:
df2 = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')

In [5]:
df2

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [6]:
df3 = pd.read_csv('data/zippedData/rotten_tomatoes_movies.csv.gz')

In [7]:
df3

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,m/zoot_suit,Zoot Suit,Mexican-American gangster Henry Reyna (Daniel ...,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,...,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,m/zootopia,Zootopia,From the largest elephant to the smallest shre...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,...,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,m/zorba_the_greek,Zorba the Greek,Traveling to inspect an abandoned mine his fat...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,...,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,m/zulu,Zulu,"In 1879, the Zulu nation hands colonial Britis...",Zulu patiently establishes a cast of colorful ...,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,...,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,m/zulu_dawn,Zulu Dawn,Sir Henry Bartle Frere's (John Mills) vastly o...,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

In [8]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [10]:
df3_0 = df3[['movie_title', 'genres', 'directors', 'tomatometer_rating', 'audience_count']]

In [11]:
df3_0

,movie_title,genres,directors,tomatometer_rating,audience_count
0,Percy Jackson & the Olympians: The Lightning T...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,49.0,254421.0
1,Please Give,Comedy,Nicole Holofcener,87.0,11574.0
2,10,"Comedy, Romance",Blake Edwards,67.0,14684.0
3,12 Angry Men (Twelve Angry Men),"Classics, Drama",Sidney Lumet,100.0,105386.0
4,"20,000 Leagues Under The Sea","Action & Adventure, Drama, Kids & Family",Richard Fleischer,89.0,68918.0
...,...,...,...,...,...
17707,Zoot Suit,"Drama, Musical & Performing Arts",Luis Valdez,56.0,1195.0
17708,Zootopia,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush",98.0,101511.0
17709,Zorba the Greek,"Action & Adventure, Art House & International,...",NaN,80.0,7146.0
17710,Zulu,"Classics, Drama","Cy Endfield, Cyril Endfield",96.0,30193.0
17711,Zulu Dawn,"Action & Adventure, Art House & International,...",Douglas Hickox,50.0,4469.0

In [12]:
df3_0.sort_values(by= 'tomatometer_rating', ascending=False, inplace=True)

<ipython-input-12-8ef2087889dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_0.sort_values(by= 'tomatometer_rating', ascending=False, inplace=True)

In [13]:
df3_0.head(25)

,movie_title,genres,directors,tomatometer_rating,audience_count
16908,Vikings: Journey to New Worlds,Documentary,Marc Fafard,100.0,77.0
2021,5B,Documentary,"Dan Krauss, Paul Haggis",100.0,36.0
17322,Who the #$&% Is Jackson Pollock?,"Documentary, Musical & Performing Arts, Specia...",Harry Moses,100.0,3246.0
6693,Frankenstein,"Horror, Mystery & Suspense",Bernard Rose,100.0,181.0
12044,Primary,"Documentary, Special Interest","Robert Drew, D.A. Pennebaker, Albert Maysles",100.0,231.0
8727,John Mulaney: The Comeback Kid,"Comedy, Television",Rhys Thomas,100.0,24.0
8726,John Mulaney: Kid Gorgeous at Radio City,Comedy,Alex Timbers,100.0,142.0
14716,The Chronicle of Anna Magdalena Bach,"Art House & International, Classics, Drama","Jean-Marie Straub, Danièle Huillet, Jean-Marie...",100.0,581.0
875,Fury,"Classics, Drama, Mystery & Suspense",Fritz Lang,100.0,3092.0
8722,John Leguizamo's Latin History for Morons,Documentary,Ben DeJesus,100.0,148.0
12966,"Scream, Queen! My Nightmare on Elm Street",Documentary,"Roman Chimienti, Tyler Jensen, Tyler Jensen",100.0,49.0
2087,"A Bread Factory, Part One: For the Sake of Gold","Comedy, Drama",Patrick Wang,100.0,54.0
2088,"A Bread Factory, Part Two: Walk with Me a While","Drama, Musical & Performing Arts",Patrick Wang,100.0,27.0
2090,A Brighter Summer Day,"Art House & International, Drama",Edward Yang,100.0,1123.0
5653,Dont Look Back,"Documentary, Musical & Performing Arts, Specia...",D.A. Pennebaker,100.0,5699.0
2093,A Brother's Kiss,Drama,Seth Zvi Rosenfeld,100.0,1343.0
6719,Free China: The Courage to Believe,"Documentary, Special Interest",Michael Perlman,100.0,163.0
3654,Black Narcissus,"Classics, Drama, Faith & Spirituality","Michael Powell, Emeric Pressburger",100.0,7271.0
10445,Mischief Night,"Comedy, Drama, Kids & Family, Mystery & Suspense",Penny Woolcock,100.0,1239.0
17318,Who is KK Downey?,"Comedy, Drama","Darren Curtis, Pat Kiely",100.0,108.0
8811,Jump Shot: The Kenny Sailors Story,Documentary,Jacob Hamilton,100.0,103.0
16595,Twist of Faith,Documentary,Kirby Dick,100.0,901.0
6655,Found Footage 3D,Horror,NaN,100.0,142.0
916,Edward II,Drama,Derek Jarman,100.0,1349.0
12907,Say Her Name: The Life and Death of Sandra Bland,Documentary,David Heilbroner,100.0,33.0

In [14]:
df3_0.audience_count.mean()

143940.06833189778

In [15]:
df3_0.audience_count.median()

4277.0

In [16]:
df_aud_count = df3_0.loc[df3_0['audience_count']> 5000]
df_aud_count

,movie_title,genres,directors,tomatometer_rating,audience_count
5653,Dont Look Back,"Documentary, Musical & Performing Arts, Specia...",D.A. Pennebaker,100.0,5699.0
3654,Black Narcissus,"Classics, Drama, Faith & Spirituality","Michael Powell, Emeric Pressburger",100.0,7271.0
2062,A Bittersweet Life (Dalkomhan insaeng),"Action & Adventure, Art House & International,...",Kim Jee-woon,100.0,10620.0
8786,Ju Dou,"Art House & International, Drama","Zhang Yimou, Yang Fengliang",100.0,5288.0
830,Henry V,"Action & Adventure, Drama, Romance",Kenneth Branagh,100.0,13465.0
...,...,...,...,...,...
8870,K-9: P.I.,"Action & Adventure, Comedy","Charles T. Kanganis, Richard J. Lewis, Rod Daniel",0.0,7615.0
10823,My First Wedding,"Comedy, Drama, Romance",Laurent Firode,0.0,6094.0
10922,National Lampoon's Gold Diggers,Comedy,Gary Preisler,0.0,6571.0
7763,"The Hills Have Eyes, Part 2",Horror,Wes Craven,0.0,10926.0
16542,Truth About Love,"Comedy, Drama, Romance",John Hay,0.0,6642.0

In [17]:
df_aud_count.audience_count.mean()

301203.45478691295

In [18]:
df_aud_count.audience_count.median()

28773.0

In [19]:
df_aud_count_2 = df_aud_count.sort_values(by= 'audience_count', ascending=False)

In [20]:
df_aud_count_2.head(50)

,movie_title,genres,directors,tomatometer_rating,audience_count
16297,Titanic,"Drama, Romance",James Cameron,89.0,35797635.0
15410,The Lord of the Rings: The Return of the King,"Action & Adventure, Classics, Science Fiction ...",Peter Jackson,93.0,34679773.0
13694,Spider-Man,"Action & Adventure, Mystery & Suspense, Scienc...",Sam Raimi,90.0,34297354.0
13276,Shrek 2,"Animation, Comedy, Kids & Family, Science Fict...","Conrad Vernon, Andrew Adamson, Kelly Asbury",89.0,34232524.0
7526,Harry Potter and the Goblet of Fire,"Action & Adventure, Kids & Family, Science Fic...",Mike Newell,88.0,34153607.0
7052,Gladiator,"Action & Adventure, Classics, Drama",Ridley Scott,77.0,34128168.0
4579,"The Chronicles of Narnia: The Lion, The Witch ...","Kids & Family, Science Fiction & Fantasy",Andrew Adamson,76.0,34105114.0
2662,American Pie,Comedy,"Paul Weitz, Chris Weitz",61.0,33781574.0
9014,King Kong,Action & Adventure,Peter Jackson,84.0,33766734.0
13797,Star Wars: Episode III - Revenge of the Sith,"Action & Adventure, Drama, Science Fiction & F...",George Lucas,80.0,33683838.0
10655,Mr. & Mrs. Smith,"Action & Adventure, Comedy, Mystery & Suspense",Doug Liman,60.0,33461707.0
701,Rocky,"Drama, Sports & Fitness",John G. Avildsen,94.0,33403994.0
6453,Finding Nemo,"Animation, Comedy, Kids & Family","Andrew Stanton, Lee Unkrich",99.0,33356856.0
10183,The Matrix,"Action & Adventure, Science Fiction & Fantasy","Lilly Wachowski, Lana Wachowski",88.0,33324202.0
2313,Ace Ventura: Pet Detective,"Action & Adventure, Comedy",Tom Shadyac,49.0,33204120.0
10260,Meet the Fockers,Comedy,Jay Roach,39.0,33181885.0
11866,Pirates of the Caribbean: The Curse of the Bla...,"Action & Adventure, Science Fiction & Fantasy",Gore Verbinski,79.0,33125722.0
16106,There's Something About Mary,Comedy,"Bobby Farrelly, Peter Farrelly",83.0,33121539.0
4101,Bruce Almighty,"Comedy, Science Fiction & Fantasy",Tom Shadyac,48.0,33024215.0
17120,Wedding Crashers,"Comedy, Romance",David Dobkin,76.0,32961772.0
3010,Austin Powers in Goldmember,Comedy,NaN,53.0,32935203.0
1949,2 Fast 2 Furious,"Action & Adventure, Drama, Mystery & Suspense",John Singleton,36.0,32791717.0
12942,School of Rock,Comedy,Richard Linklater,91.0,32784354.0
9682,The Longest Yard,"Comedy, Drama",Peter Segal,31.0,32774364.0
5211,The Day After Tomorrow,"Action & Adventure, Drama, Mystery & Suspense,...",Roland Emmerich,44.0,32749429.0
12029,Pretty Woman,"Comedy, Romance",Garry Marshall,63.0,32709375.0
1051,Braveheart,"Action & Adventure, Classics, Drama",Mel Gibson,78.0,32708456.0
2009,50 First Dates,Comedy,Peter Segal,45.0,32700188.0
17283,White Chicks,Comedy,Keenen Ivory Wayans,15.0,32691607.0
7780,Hitch,"Comedy, Romance","Andrew Tennant, Andy Tennant",69.0,32624083.0
8335,The Incredibles,"Animation, Comedy, Kids & Family",Brad Bird,97.0,32604129.0
11251,Ocean's Eleven,"Action & Adventure, Comedy, Drama",Steven Soderbergh,82.0,32601771.0
12923,Scary Movie,"Comedy, Horror",Keenen Ivory Wayans,53.0,32582014.0
8957,Kill Bill: Volume 1,"Action & Adventure, Mystery & Suspense",Quentin Tarantino,85.0,32558003.0
12903,Saw II,"Horror, Mystery & Suspense",Darren Lynn Bousman,37.0,32524689.0
17035,War of the Worlds,"Action & Adventure, Science Fiction & Fantasy",Steven Spielberg,75.0,32518946.0
4447,Charlie and the Chocolate Factory,"Comedy, Kids & Family, Science Fiction & Fantasy",Tim Burton,83.0,32495606.0
12544,The Ring,"Drama, Horror, Mystery & Suspense, Romance",Gore Verbinski,71.0,32459459.0
6095,E.T. The Extra-Terrestrial,"Kids & Family, Science Fiction & Fantasy",Steven Spielberg,98.0,32314349.0
13336,Sin City,"Action & Adventure, Drama, Mystery & Suspense","Robert Rodriguez, Quentin Tarantino, Frank Miller",77.0,32222563.0
2046,8 Mile,Drama,Curtis Hanson,75.0,32167884.0
10238,Mean Girls,Comedy,Mark Waters (VIII),84.0,32167706.0
1310,10 Things I Hate About You,Comedy,Gil Junger,69.0,32104911.0
12886,Save the Last Dance,"Drama, Romance",Thomas Carter,53.0,31845749.0
4604,A Cinderella Story,"Comedy, Drama, Kids & Family, Romance",Mark Rosman,12.0,31659732.0
11198,The Notebook,"Drama, Romance",Nick Cassavetes,53.0,31656590.0
9771,Love Actually,"Comedy, Romance",Richard Curtis,64.0,31626919.0
17002,A Walk to Remember,"Drama, Romance",Adam Shankman,27.0,31402117.0
2278,About a Boy,"Comedy, Drama, Romance","Chris Weitz, Paul Weitz",93.0,31164074.0
5632,Donnie Darko,"Comedy, Mystery & Suspense, Science Fiction & ...",Richard Kelly,86.0,30984568.0

In [21]:
df_aud_count_3 =df_aud_count_2.head(1000)

In [22]:
df_aud_count_3.sort_values(by= 'tomatometer_rating', ascending=False)

,movie_title,genres,directors,tomatometer_rating,audience_count
10156,Mary Poppins,"Classics, Comedy, Kids & Family, Musical & Per...",Robert Stevenson,100.0,682486.0
16406,Toy Story 2,"Animation, Comedy, Kids & Family",John Lasseter,100.0,1000505.0
11852,Pinocchio,"Animation, Kids & Family, Musical & Performing...","Hamilton Luske, Ben Sharpsteen, Walt Disney, W...",100.0,279410.0
14336,The Terminator,"Action & Adventure, Science Fiction & Fantasy",James Cameron,100.0,776580.0
16405,Toy Story,"Animation, Comedy, Kids & Family",John Lasseter,100.0,1109209.0
...,...,...,...,...,...
7179,Good Luck Chuck,Comedy,Mark Helfrich,5.0,318784.0
1510,Big Momma's House 2,Comedy,John Whitesell,5.0,564749.0
4924,The Covenant,"Horror, Mystery & Suspense",Renny Harlin,4.0,399932.0
3327,Because I Said So,"Comedy, Drama, Romance",Michael Lehmann,4.0,507136.0
6054,Epic Movie,"Action & Adventure, Comedy","Aaron Seltzer, Jason Friedberg",2.0,560016.0

In [23]:
#df_aud_count_3.genres.head(25).describe()

In [24]:
df_aud_count_3['genres'] = df_aud_count_3['genres'].str.split(",")
df_aud_count_3

<ipython-input-24-a72132931d2c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aud_count_3['genres'] = df_aud_count_3['genres'].str.split(",")

,movie_title,genres,directors,tomatometer_rating,audience_count
16297,Titanic,"[Drama, Romance]",James Cameron,89.0,35797635.0
15410,The Lord of the Rings: The Return of the King,"[Action & Adventure, Classics, Science Ficti...",Peter Jackson,93.0,34679773.0
13694,Spider-Man,"[Action & Adventure, Mystery & Suspense, Sci...",Sam Raimi,90.0,34297354.0
13276,Shrek 2,"[Animation, Comedy, Kids & Family, Science ...","Conrad Vernon, Andrew Adamson, Kelly Asbury",89.0,34232524.0
7526,Harry Potter and the Goblet of Fire,"[Action & Adventure, Kids & Family, Science ...",Mike Newell,88.0,34153607.0
...,...,...,...,...,...
11659,Patch Adams,"[Comedy, Drama]",Tom Shadyac,22.0,265151.0
12615,Robin Hood,"[Action & Adventure, Drama]",Ridley Scott,43.0,265048.0
10125,Marley & Me,[Comedy],David Frankel,62.0,264910.0
4994,Crocodile Dundee II,"[Action & Adventure, Comedy]",John Cornell,10.0,264428.0
15139,The Hobbit: The Desolation of Smaug,"[Action & Adventure, Science Fiction & Fantasy]",Peter Jackson,74.0,264376.0

In [29]:
def is_genre(genres):
    if 'Action & Adventure' in genres:
        return True;
    else:
        return False;

df_aud_count_3['Is_A&A'] = df_aud_count_3['genres'].apply(is_genre)
df_aud_count_3.head()

<ipython-input-29-1a658a7f1fce>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aud_count_3['Is_A&A'] = df_aud_count_3['genres'].apply(is_genre)

,movie_title,genres,directors,tomatometer_rating,audience_count,Is_A&A
16297,Titanic,"[Drama, Romance]",James Cameron,89.0,35797635.0,False
15410,The Lord of the Rings: The Return of the King,"[Action & Adventure, Classics, Science Ficti...",Peter Jackson,93.0,34679773.0,True
13694,Spider-Man,"[Action & Adventure, Mystery & Suspense, Sci...",Sam Raimi,90.0,34297354.0,True
13276,Shrek 2,"[Animation, Comedy, Kids & Family, Science ...","Conrad Vernon, Andrew Adamson, Kelly Asbury",89.0,34232524.0,False
7526,Harry Potter and the Goblet of Fire,"[Action & Adventure, Kids & Family, Science ...",Mike Newell,88.0,34153607.0,True

In [30]:
df_aud_count_3['Is_A&A'].sum()

410

In [25]:
#df_aud_count_3['genres'] = df_aud_count_3.explode(df_aud_count_3['genres'])

In [26]:
#df_aud_count_3

In [27]:
#df_aud_count_3.explode(df_aud_count_3['genres'])