In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('bsc-phase-1/data/zippedData/imdb.title.akas.csv')

In [19]:
df

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [20]:
df2 = pd.read_csv('bsc-phase-1/data/zippedData/imdb.title.basics.csv')

In [21]:
df2

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [22]:
df3 = pd.read_csv('bsc-phase-1/data/zippedData/rotten_tomatoes_movies.csv')

In [23]:
df3

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,m/zoot_suit,Zoot Suit,Mexican-American gangster Henry Reyna (Daniel ...,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,...,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,m/zootopia,Zootopia,From the largest elephant to the smallest shre...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,...,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,m/zorba_the_greek,Zorba the Greek,Traveling to inspect an abandoned mine his fat...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,...,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,m/zulu,Zulu,"In 1879, the Zulu nation hands colonial Britis...",Zulu patiently establishes a cast of colorful ...,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,...,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,m/zulu_dawn,Zulu Dawn,Sir Henry Bartle Frere's (John Mills) vastly o...,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

In [24]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [26]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [28]:
df3_0 = df3[['movie_title', 'genres', 'directors', 'tomatometer_rating', 'audience_count']]

In [29]:
df3_0

,movie_title,genres,directors,tomatometer_rating,audience_count
0,Percy Jackson & the Olympians: The Lightning T...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,49.0,254421.0
1,Please Give,Comedy,Nicole Holofcener,87.0,11574.0
2,10,"Comedy, Romance",Blake Edwards,67.0,14684.0
3,12 Angry Men (Twelve Angry Men),"Classics, Drama",Sidney Lumet,100.0,105386.0
4,"20,000 Leagues Under The Sea","Action & Adventure, Drama, Kids & Family",Richard Fleischer,89.0,68918.0
...,...,...,...,...,...
17707,Zoot Suit,"Drama, Musical & Performing Arts",Luis Valdez,56.0,1195.0
17708,Zootopia,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush",98.0,101511.0
17709,Zorba the Greek,"Action & Adventure, Art House & International,...",NaN,80.0,7146.0
17710,Zulu,"Classics, Drama","Cy Endfield, Cyril Endfield",96.0,30193.0
17711,Zulu Dawn,"Action & Adventure, Art House & International,...",Douglas Hickox,50.0,4469.0

In [32]:
df3_0.sort_values(by= 'tomatometer_rating', ascending=False, inplace=True)

<ipython-input-32-8ef2087889dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_0.sort_values(by= 'tomatometer_rating', ascending=False, inplace=True)

In [33]:
df3_0.head(25)

,movie_title,genres,directors,tomatometer_rating,audience_count
16908,Vikings: Journey to New Worlds,Documentary,Marc Fafard,100.0,77.0
2021,5B,Documentary,"Dan Krauss, Paul Haggis",100.0,36.0
17322,Who the #$&% Is Jackson Pollock?,"Documentary, Musical & Performing Arts, Specia...",Harry Moses,100.0,3246.0
6693,Frankenstein,"Horror, Mystery & Suspense",Bernard Rose,100.0,181.0
12044,Primary,"Documentary, Special Interest","Robert Drew, D.A. Pennebaker, Albert Maysles",100.0,231.0
8727,John Mulaney: The Comeback Kid,"Comedy, Television",Rhys Thomas,100.0,24.0
8726,John Mulaney: Kid Gorgeous at Radio City,Comedy,Alex Timbers,100.0,142.0
14716,The Chronicle of Anna Magdalena Bach,"Art House & International, Classics, Drama","Jean-Marie Straub, Danièle Huillet, Jean-Marie...",100.0,581.0
875,Fury,"Classics, Drama, Mystery & Suspense",Fritz Lang,100.0,3092.0
8722,John Leguizamo's Latin History for Morons,Documentary,Ben DeJesus,100.0,148.0
12966,"Scream, Queen! My Nightmare on Elm Street",Documentary,"Roman Chimienti, Tyler Jensen, Tyler Jensen",100.0,49.0
2087,"A Bread Factory, Part One: For the Sake of Gold","Comedy, Drama",Patrick Wang,100.0,54.0
2088,"A Bread Factory, Part Two: Walk with Me a While","Drama, Musical & Performing Arts",Patrick Wang,100.0,27.0
2090,A Brighter Summer Day,"Art House & International, Drama",Edward Yang,100.0,1123.0
5653,Dont Look Back,"Documentary, Musical & Performing Arts, Specia...",D.A. Pennebaker,100.0,5699.0
2093,A Brother's Kiss,Drama,Seth Zvi Rosenfeld,100.0,1343.0
6719,Free China: The Courage to Believe,"Documentary, Special Interest",Michael Perlman,100.0,163.0
3654,Black Narcissus,"Classics, Drama, Faith & Spirituality","Michael Powell, Emeric Pressburger",100.0,7271.0
10445,Mischief Night,"Comedy, Drama, Kids & Family, Mystery & Suspense",Penny Woolcock,100.0,1239.0
17318,Who is KK Downey?,"Comedy, Drama","Darren Curtis, Pat Kiely",100.0,108.0
8811,Jump Shot: The Kenny Sailors Story,Documentary,Jacob Hamilton,100.0,103.0
16595,Twist of Faith,Documentary,Kirby Dick,100.0,901.0
6655,Found Footage 3D,Horror,NaN,100.0,142.0
916,Edward II,Drama,Derek Jarman,100.0,1349.0
12907,Say Her Name: The Life and Death of Sandra Bland,Documentary,David Heilbroner,100.0,33.0